@font-face {
    font-family: Vazir;
    src: url('./Vazir-Black.eot');
    src: url('./Vazir-Black.eot?#iefix') format('embedded-opentype'), url('./Vazir-Black.woff2') format('woff2'), url('./Vazir-Black.woff') format('woff'), url('./Vazir-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

body {
    font-family: Vazir, Arial, sans-serif;
}

