<template>
  <div class="card">
    <div class="card-header border-0">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0">برترین کاربران</h3>
        </div>
        
      </div>
    </div>

    <div class="table-responsive">
      <base-table thead-classes="thead-light" :data="tableData">
        <template v-slot:columns>
          <th>نام</th>
          <th>نام خانوادگی</th>
          <th>سطح ‍پیشرفت</th>
          <th>زمان شروع ثبت نام</th>
        </template>

        <template v-slot:default="row">
          <th scope="row">
            {{ row.item.page }}
          </th>
          <td>
            {{ row.item.visitors }}
          </td>
          <td>
            {{ row.item.unique }}
          </td>
          <td>
            <i
              class="fas fa-arrow-up text-success mr-3"
              :class="
                row.item.bounceRateDirection === 'up'
                  ? 'text-success'
                  : 'text-danger'
              "
            >
            </i>
            {{ row.item.bounceRate }}
          </td>
        </template>
      </base-table>
    </div>
  </div>
</template>
<script>
export default {
  name: "page-visits-table",
  data() {
    return {
      tableData: [
        {
          page: "امیرحسین",
          visitors: "دلیری",
          unique: "تایید نهایی",
          bounceRate: "۲۵/۲/۱۳۹۹",
          bounceRateDirection: "up",
        }, {
          page: "امیرحسین",
          visitors: "دلیری",
          unique: "تایید نهایی",
          bounceRate: "۲۵/۲/۱۳۹۹",
          bounceRateDirection: "up",
        }, {
          page: "امیرحسین",
          visitors: "دلیری",
          unique: "تایید نهایی",
          bounceRate: "۲۵/۲/۱۳۹۹",
          bounceRateDirection: "up",
        },
   
      ],
    };
  },
};
</script>
<style></style>
